<html>
  <body>
    <form action="/grind" method="post">
      <h3>grind for treasure, arr:</h3>
      <ul>
        <li><label for="url">URL</label> <input name="url" /></li>
        <li><label for="person">Person</label> <input name="person" /></li>
        <li><label for="origin">Origin</label> TEST <input name="origin" type="hidden" value="TEST" /></li>
        <li><input type="submit"/></li>
      </ul>
    </form>
  </body>
</html>
