<html>
  <body>
    <form action="/snarf" method="post">
      <h3>register some treasure, arr:</h3>
      <ul>
        <li><label for="person">Person</label> <input name="person" /></li>
        <li><label for="track">Track</label> <input name="track" /></li>
        <li><label for="artist">Artist</label> <input name="artist" /></li>
        <li><label for="provider">Provider</label> <input name="provider" /></li>
        <li><label for="origin">Origin</label> TEST <input type="hidden" name="origin" value="TEST" /></li>
        <li><input type="submit"/></li>
      </ul>
    </form>

  </body>
</html>
