<html>
  <body>
    <form action="/snarf" method="post">
      <ul>
        <li><label for="person">Person</label> <input name="person" /></li>
        <li><label for="track">Track</label> <input name="track" /></li>
        <li><label for="artist">Artist</label> <input name="artist" /></li>
        <li><label for="provider">Provider</label> <input name="provider" /></li>
        <li><label for="origin">Origin</label> <input name="origin" /></li>
        <li><input type="submit"/></li>
    </form>
  </body>
</html>
